.container{
    background-color: black;
}

.search-bar{
    margin: 10px;
    text-align: center;
    padding: 18px
}

.search-bar input{   
     width: 75%;;
     height: 40px;
}
.video-detail{
    padding-top :5px !important;
}
.video-detail .details{
    border-radius: 5px;
    margin-top:10px;
    color: #ffffff !important;
}

.list-group-item{
    cursor: pointer;
    font-size: 12px;
    border:5px solid #000000 !important;
    }

.list-group-item:hover{
    background-color: #eeeeee;
}


